<section id="page-title">

    <div class="container clearfix">
        <h1>@Localizer["RegisterOrLogin"]</h1>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="accordion accordion-lg mx-auto mb-0 clearfix" style="max-width: 550px;">

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-lock3"></i>
                        <i class="accordion-open icon-unlock"></i>
                    </div>
                    <div class="accordion-title">
                        @Localizer["LoginToYourAccount"]
                    </div>
                </div>
                <div class="accordion-content clearfix">
                    <form id="login-form" name="login-form" class="row mb-0" action="#" method="post">
                        <div class="col-12 form-group">
                            <label for="login-form-username">@Localizer["Username"]:</label>
                            <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
                        </div>

                        <div class="col-12 form-group">
                            <label for="login-form-password">@Localizer["Password"]:</label>
                            <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
                        </div>

                        <div class="col-12 form-group">
                            <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">@Localizer["Login"]</button>
                            <a href="#" class="float-end">@Localizer["ForgotPassword"]</a>
                        </div>
                    </form>
                </div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-user4"></i>
                        <i class="accordion-open icon-ok-sign"></i>
                    </div>
                    <div class="accordion-title">
                        @Localizer["NewSignupRegisterForAnAccount"]
                    </div>
                </div>
                <div class="accordion-content clearfix">
                    <form id="register" name="register" class="row mb-0" asp-action="Register" asp-controller="Login" method="post">
                        <div class="col-12 form-group">
                            <label for="register-form-name">@Localizer["Name"]:</label>
                            <input type="text" id="register-form-name" name="Name" value="" class="form-control" />
                        </div>
                         <div class="col-12 form-group">
                            <label for="register-form-name">@Localizer["Surname"]:</label>
                            <input type="text" id="register-form-surname" name="Surname" value="" class="form-control" />
                        </div>

                        <div class="col-12 form-group">
                            <label for="register-form-email">@Localizer["EmailAddress"]:</label>
                            <input type="text" id="register-form-email" name="Email" value="" class="form-control" />
                        </div>
                        <div class="col-12 form-group">
                            <label for="register-form-phone">Phone:</label>
                            <input type="text" id="register-form-phone" name="PhoneNumber" value="" class="form-control" />
                        </div>

                        <div class="col-12 form-group">
                            <label for="register-form-password">Choose Password:</label>
                            <input type="password" id="register-form-password" name="Password" value="" class="form-control" />
                        </div>

                        <div class="col-12 form-group">
                            <label for="register-form-repassword">Re-enter Password:</label>
                            <input type="password" id="register-form-repassword" name="RePassword" value="" class="form-control" />
                        </div>

                        <div class="col-12 form-group">
                            <button class="button button-3d button-black m-0" id="register-form-submit" name="register-form-submit" value="register">@Localizer["Register"]</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

<script type="text/javascript">

    function register(){
        debugger;
        $('#register-form').submit();
    }

</script>
